.teacher-detail-container {
  height: 900px;
  .intro-teacher {
    display: flex;
    margin: 65px 150px 0 150px;
    border: 1px solid grey;

    .content-image {
      width: 20%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 10px 40px;
    }
    .content-text {
      font-size: 15px;
      font-weight: 500;
      padding-top: 10px;
    }
    .content-right {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-size: 20px;
        font-weight: 600;
        padding-top: 15px;
      }
      .down {
        padding-top: 10px;
      }
    }
  }

  .detail-infor-courses {
    background-color: #f9f9f9;
    display: flex;
    margin: 30px 10px 30px 150px;
    h3 {
      font-size: 17px;
    }
    img {
      width: 100px;
      height: 100px;
    }
    img-courses {
      width: 100px;
      height: 200px;
    }
    .item-courses {
      margin-right: 100px;
      .bg-image {
        width: 450px;
        height: 300px;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .section-item {
        
        .specialty-name {
        
        }
      }
    }
  }
}
// For tablet devices
@media (min-width: 768px) and (max-width: 1023px) {
  .teacher-detail-container {
    height: 500px;
    .intro-teacher {
      display: flex;
      margin: 65px 150px 0 150px;
      border: 1px solid grey;

      .content-image {
        width: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px 40px;
      }
      .content-text {
        font-size: 15px;
        font-weight: 500;
        padding-top: 10px;
      }
      .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
        }
      }
    }

    .detail-infor-courses {
      background-color: #f9f9f9;
      display: flex;
      margin: 30px 160px;
      h3 {
        font-size: 17px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      img-courses {
        width: 100px;
        height: 200px;
      }
      .item-courses {
        margin-right: 100px;
        .bg-image {
          width: 450px;
          height: 300px;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

// For mobile devices
@media (max-width: 767px) {
  .teacher-detail-container {
    height: 100%;
    .intro-teacher {
      // display: flex;
      // margin: 65px 150px 0 150px;
      border: 1px solid grey;

      .content-image {
        width: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px 40px;
      }
      .content-text {
        font-size: 15px;
        font-weight: 500;
        padding-top: 10px;
      }
      .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
        }
      }
    }

    .detail-infor-courses {
      background-color: #f9f9f9;
      display: flex;
      // margin: 30px 160px;
      h3 {
        font-size: 17px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      img-courses {
        width: 50px;
        height: 50px;
      }
      .item-courses {
        .bg-image {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 330px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }
  }
}
