.manage-sepcialty-container {
  padding: 0 15px;
  .ms-title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
  }
  .add-new-specialty {
    .btn-save-specialty {
      border: none;
      background: orange;
      padding: 8px 5px;
      min-width: 175px;
      border-radius: 3px;
      margin: 15px 0;
    }
  }
}
.previewImg-container {
  margin-top: 27px;
  .label-upload {
    padding: 5px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    width: 130px;
    height: 40px;
    margin-right: 10px;
    padding-top: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
  .preview-image {
    height: 100px;
    width: 140px;
    background: center center no-repeat;
    background-size: contain;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
  }
}
.search-inputs {
  input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    margin-top: 18px;
    margin-right: 910px;
    border: 1px solid #ddd;
  }
}
