table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
//btn
.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;

  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}
//btn
.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: red;

  &:hover {
    background-color: transparent !important;
    color: red !important;
  }
}

.modal-user-container {
  .modal-content{
    .modal-header{
      button{
        background-color:  transparent !important;
        border: none;
        color: white;
        font-size: 27px;

      }
    }
  }
  
  .modal-user-body {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 48%;
      &.max-width-input {
        width: 99%;

        input {
          border-radius: 3px;
          height: 30px;
          border: 1px solid gray;
          outline: none;
          padding: 0 10px;
        }
      }
    }
  }
}
