@import "../../styles/resposive.scss";
@import "../../styles/color.scss";

.card_container {
  width: 250px;
  .card_image {
    position: relative;
  }

  .card_tag_discount {
    position: absolute;
    top: -1em;
    right: -1em;
    padding: 0;

    .tag_discount {
      position: relative;
      width: 50px;
      height: 50px;
    }

    .tag_text_discount {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
    }
  }

  .card_body {
    border-top: 1px solid $color-grey;
    padding: 0.5em;
  }

  .card_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
  }

  .card_price {
    text-align: right;
    padding: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .price_main {
      padding: 0 0.5em;
      font-size: 12px;
      text-decoration-line: line-through;
    }

    .price_discounted {
      color: $color-red;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .card_subtitle {
    @extend .card_title;
    font-weight: 400;
    text-align: left;
  }

  .group_button {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $color-grey;
    padding-top: 0.5em;

    .card_button {
      width: 2em;
      padding: 0 0.5em;
      margin: 0 0.25em;
    }
  }
}
