.section-share {
  &.section-specialty {
    background: #f5f5f5;
  }
  &.section-about {
    height: 500px !important;
    background: #f5f5f5;
  }
}

.section-share {
  height: 900px;

  .section-container {
    margin: 0 190px;
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      margin-bottom: 60px;
      padding-top: 30px;
      .title-section {
        color: #0f437f;
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 38px;
        font-weight: 600;
        line-height: 1.289em;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        display: block;
        border: none;
        outline: none;
        background: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
    .section-body {
      .section-customize {
        .bg-image {
          width: 567px;
          height: 328px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          background-color: #eee;
          background-position: center center;
          background-repeat: no-repeat !important;
          background-size: cover;
          &.section-specialty {
            // background-image: url("../../assets/specialty/co-xuong-khop.jpg");
          }
          &.section-medical-facility {
            // background-image: url("../../assets/medical/healthcarepng.png");
          }
          &.section-outstanding-doctor {
            // background-image: url("../../assets/outstandingdoctor/bacsi.jpg");
            width: 320px;
            height: 320px;
          }
          &.section-handbook {
            background-image: url("../../assets/handbook/153221-benh-gout.png");
          }
        }
        .specialty-item {
          width: 567px;
          height: 280px;
        }
        .specialty-name {
          color: white;
          margin-top: 0;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.5em;
        }
        .specialty-subname {
          color: white;
          font-family: Kumbh Sans, sans-serif;
          font-size: 15px;
          line-height: 1.667em;
        }

        //Teacher
        .section_teacher {
          height: 150px;
          margin-left: 5px;
        }
        .name_teacher {
          color: white;
          margin-top: 0;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.5em;
        }
        .des_teacher {
          color: white;
          font-family: Kumbh Sans, sans-serif;
          font-size: 15px;
          line-height: 1.667em;
        }
      }

      //reset slick slider css

      .slick-prev {
        left: -10 !important;
        z-index: 1000;
        height: 48px !important;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #d7d7d7 !important;
        }
      }
      .slick-prev:before,
      .slick-next:before {
        font-family: "Glyphicons Halflings" !important;
        color: rebeccapurple !important;
      }
      .slick-next {
        right: -10 !important;
        height: 48px !important;
        z-index: 1000;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #eceaea !important;
        }
      }
      .slick-next:before {
      }
      .slick-prev:before {
      }
    }
  }
}
.section-share {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .section-customize {
    cursor: pointer;
    padding: 5px;
    .customize-border {
      border: 1px solid gray;
      padding: 20px;
    }
  }
}
.homeFooter {
  text-align: center;
  padding-top: 8px;
  a {
    text-decoration: unset;
  }
}
.slick-disabled {
  display: none !important;
}
.section-about {
  padding: 0 175px;

  .section-about-header {
    padding: 20px 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .section-about-content {
    display: flex;
    gap: 15px;
    width: 100%;
    .section-about-left {
      width: 49%;
    }
    .section-about-right {
      width: 49%;
    }
  }
}
