.about-container {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  .title {
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 20px;
    font-weight: normal;
  }
  .subtitle {
    font-size: 1.2em;
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  .about-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .description {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
  }
}
